/**GLOBAL STYLES**/
body{
	font-family: 'Raleway', sans-serif;
}
a{
	color: #FFF;
}
a:hover{
	color: #FFF;
	text-decoration: none;
}
.bg-gray{
	background-color: #1d252d;
	margin-top: -17px;
}
.blue{
	color: #6CF;
}
.dark-gray{
	color: #1d252d;
}
.title-section{
	font-size: 1.8em;
	position: relative;
	margin-bottom: 10%;
}
.title-section::after{
	content:"";
    position: absolute;
    bottom: 0;
    left: 48.3%;
    right: 0;
	top: 45px;
    height: 0.5em;
    border-top: 5px solid #6CF;
    width: 40px;
}
.bold{
	font-weight: 700;
}
.center{
	text-align: center;
}
.uppercase{
	text-transform: uppercase;
}
.white{
	color: #FFF;
}
h1{
	font-weight: 700;
}
h2{
	font-size: 1.2em;
	font-weight: 700;
	color: #6CF;
}
h3{
	font-weight: 700;
	font-size: 1.5em;
}
.wf-49{
	width: 49%;
}
.p-b-t-4{
	padding-bottom: 4rem;
	padding-top: 4rem;
}
.m-t-5{
	margin-top: 5%;
}
.m-t-3{
	margin-top: 3%;
}
.m-l-3{
	margin-left: 3% !important;
}
.m-l-2{
	margin-left: 2%;
}
.w-50{
	display: block;
	width: 50%;
	margin-left: 25%;
}

/**MAIN STYLES**/
nav{
	height: 50px;
	box-shadow: 0px -3px 11px 0px rgba(0,0,0,0.75);
}

header{
	background: url("../img/zdj3.jpg");
	background-size: cover;
	height: 100vh;
	padding-top: 30vh;
}

.we{
	background-color: #EEE;
}
.bg-white{
	background-color: #FFF;
}
.box{
	font-size: 1.4em;
	width: 25%;
	margin-left: 20%;
}
.btn{
	width: 140px;
	height: 50px;
	border-radius: 70px;
	font-weight:700;
	font-size: 0.75em;
	letter-spacing: 0.15em;
}
.btn-offer{
	color: #FFF;
	background-color: #555;
}
.btn-offer:hover{
	color: #555;
	background-color: transparent;
	border: 1px solid #555;
}
.bottom-line{
	position: relative;
}
.bottom-line::after{
	content:"";
    position: absolute;
    bottom: 0;
    left: 36px;
    right: 0;
	top: 45px;
    height: 0.5em;
    border-top: 5px solid #6CF;
    width: 40px;
}


.contact{
	background: url("../img/contact1.jpg");
	background-size: cover;
}	
.btn-contact{
	margin-left: 40px;
	color: #6CF;
	background-color: transparent;
	border: 1px solid #6CF;;
}
.btn-contact:hover{
	color: #FFF;
	background-color: #6CF;;
	border: 1px solid #6CF;;
}
.form-row{
	margin-left: 0;
	margin-right: 0;
}
.form-control{
	background: transparent;
	border-radius: 0;
	border: none;
	color: #FFF;
	border-bottom: 1px solid #6CF;
}
.form-control::placeholder{
	color: #FFF;
}
.form-control:focus{
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,0);
	border-bottom: 2px solid #6CF;
	transition: 0.5s all;
	background: transparent;
}
.btn-form{
	font-weight: 700;
	width: 100%;
	background: #6CF;
	border: none;
	height: 50px;
	border-radius: 25px;
}
.btn-form:hover{
	width: 100%;
	background: transparent;
	border: 1px solid #6CF;
	color: #6CF;
}

.circle{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #6CF;
	text-align: center;
	padding-top: 14px;
	color: #FFF;
}
.contact-data{
	font-size: 1.2em;
	color: #FFF;
	font-weight: 700;
	margin-top: 2px;
	display: block;
}
.cd-t{
	margin-top: 15px;
}
.map{
	height: 300px;
}

footer{
	background-color: #0e0e0e;
	color: #dadada;
	font-size: 0.85em;
	padding: 0.7rem;
}
.line{
	margin-left: 1%;
	margin-right: 1%;
}	
.numbers{
	text-align: center;
	background: #6CF;
	color: #FFF;
	
}
.how{
	font-size: 4.5rem;
}
.how-title{
	display: block;
}

/**WEBPAGE STYLES**/
.nav-additional ul{
	list-style: none;
	text-align: center;
}
.nav-additional li{
	display: inline-block;
	position: relative;
}
.nav-additional li a{
	display: block;
	position: relative;
	padding: 20px;
}
.nav-additional li.active a, .nav-additional li a:hover{
	color: #6cf;
}
.active{
	color: #6cf;
}
.nav-additional li a .icon{
	display: inline-block;
}
.nav-additional li a .icon-title{
	display: block;
	margin: 20px 0;
	font-weight: 700;
	font-size: 1.1em;
}
.arrow-top{
	position: relative;
}
.nav-additional li.active .arrow-top::before{
	content: '';
	transition: 0.5s all;
	bottom: 100%;
	left: 50%;
	height: 0;
	width: 0;
	position: absolute;
	border: 13px solid transparent;
	margin-left: -13px;
	border-bottom-color: #1d252d;
}

.web-content{
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.web-content p{
	color: #777;
}
.web-content .btn{
	margin-top: 5%;
	background-color: #6cf;
	border-radius: 0;
	color: #1d252d;
	text-transform: uppercase;
	font-weight: 700;
}
.web-content .btn:hover{
	background-color: #1d252d;
	color: #6cf;
	border: 1px solid #6cf;
}
.web-content img{
	padding: 5px;
	border: 1px solid #777;
	width: 100%;
}
.webpage-title{
	margin-bottom:5%;
	margin-top:4%;
}
.about{
	background: #ebebeb;
}
@media(max-width:992px){
	.bottom-line{
		text-align: center;
		margin-bottom: 40px;
	}
	.bottom-line::after{
		left: 45%;
	}
}
@media(max-width:768px){
	.nav-additional li{
		width: 48%;
	}
	ul{
		padding:0;
	}
}