.bg-gray{
	background-color: #1d252d;
	margin-top: -17px;
}
.blue{
	color: #06f;
}
.center{
	text-align: center;
}

a, a:hover{
	text-decoration: none;
	color: #1d252d;
}
.nav-additional ul{
	list-style: none;
	text-align: center;
}
.nav-additional li{
	display: inline-block;
	position: relative;
}
.nav-additional li a{
	display: block;
	position: relative;
	padding: 20px;
}
.nav-additional li.active a, .nav-additional li a:hover{
	color: #6cf;
}
.active{
	color: #6cf;
}
.nav-additional li a .icon{
	display: inline-block;
}
.nav-additional li a .icon-title{
	display: block;
	margin: 20px 0;
	font-weight: 500;
	font-size: 1.1em;
}
.arrow-top{
	position: relative;
}
.nav-additional li.active .arrow-top::before{
	content: '';
	transition: 0.5s all;
	bottom: 100%;
	left: 50%;
	height: 0;
	width: 0;
	position: absolute;
	border: 13px solid transparent;
	margin-left: -13px;
	border-bottom-color: #1d252d;
}

.web-content{
	padding-top: 4rem;
	padding-bottom: 4rem;
}
h2{
	text-transform: uppercase;
	color: #FFF;
	font-weight: 700;
	font-size: 1.7em;
	margin-bottom: 3%;
}
.web-content p{
	color: #777;
}
.web-content .btn{
	margin-top: 5%;
	background-color: #6cf;
	border-radius: 0;
	color: #1d252d;
	text-transform: uppercase;
	font-weight: 700;
}
.web-content .btn:hover{
	background-color: #1d252d;
	color: #6cf;
	border: 1px solid #6cf;
}
.web-content img{
	padding: 5px;
	border: 1px solid #777;
	width: 100%;
}